* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #c7ccd6;
}
::-webkit-scrollbar-thumb {
  background-color: #707079;
}


.slider{
  border-radius: 100rem;

  width: 80rem;
  margin: auto;
  

}


.slider-header{
  margin-top:14rem;
  text-align: center;
  margin-bottom: 2rem;
  font-size:2rem;
}


.hr{
  width:97rem;
  margin-left: -14rem;
  position: relative;
  top: 20px;
  border: none;
  height: 3rem;
  background: #0077b6;
  margin-bottom: 50px;
  margin-top: -5rem;
 

}  
.vendor-logo{
  height: 5rem;
}

.search-screcn-body{
  background-color: #d7dde4;
  
  border-top: 50px solid #0077b6;
  min-height: 100vh;



    /* position: absolute;   */
   
    
}

.aside-dev{
  background-color: #14213d;
}


.color-white{
  background-color:rgb(255, 255, 255)  ;
}


.custom-date::placeholder{
  
}
.seachBtn{
  padding: 0.6rem 6.6rem;
  font-size: 20px;
  border-radius: 0.6rem;
}
.searchScreenSection {
margin-top: 1rem;
margin-bottom: 1rem;
}

.custom-select {
  height: 3.3rem;
  border:solid 0.5px rgb(188, 182, 182);
}
.sortByInput{
  margin-top: 0.3rem;
  height: 2.rem;
 
}

.bookBtn{
  padding: 0.6rem 2.6rem;
  margin-left : -2rem;
  font-size: 1.rem;
  border-radius: 0.5rem;
}


/* 
padding: 0.3rem 6.6rem;
font-size: 20px;
border-radius: 10px;
}
.searchScreenSection {
margin-top: 1rem;
margin-bottom: 0.8rem;
}

.custom-select {
background-color: #4539e6;
padding: 5rem 1rem;
} */

/*  */











/* filter buses css */

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap'); */

.mt-100{
    margin-top: 150px;
}

.filter-group {
border-bottom: 2px solid #e4e4e4;
}

.card {
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-ms-flex-direction: column;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 0.37rem;
}

.card-header {
padding: 0.75rem 1.25rem;
margin-bottom: 0;
background-color: #fff;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-group .card-header {
border-bottom: 0;
}

.icon-control {
margin-top: 6px;
float: right;
font-size: 80%;
}

.list-menu {
list-style: none;

padding-left: 0;
margin-top: -1.7rem;
}

.list-menu a {
color: #000000;

}

a {

text-decoration: none !important;
background-color: transparent;
}


.checkbox-btn {
position: relative;
}

.checkbox-btn input {
position: absolute;
z-index: -1;
opacity: 0;
}


.checkbox-btn input:checked ~ .btn {
border-color: #3167eb;
background-color: #3167eb;
color: #fff;
}

.btn-light {
display: inline-block;
font-weight: 600;
color: #343a40;
text-align: center;
vertical-align: middle;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-color: #eee;
border: 1px solid #eee;
padding: 0.45rem 0.85rem;
    font-size: 10px;
line-height: 1.5;
border-radius: 0.37rem;

}

.btn-light:hover {
background-color: #fff;
border-color: #989898;

}


.btn-medium {
font-size: 12px;
padding: 10px 22px;
display: inline-block;
margin-right: 20px;
letter-spacing: 2px;

border: 1px solid #157af6;
width: 100%;
}

.highlight-button:hover {
background-color: #157af6;
border: 2px solid #157af6;
color: #fff;
}

.custom-control {
position: relative;
display: block;
min-height: 1.5rem;
padding-left: 1.5rem;
}
.category-name{
  font-size: 1.2rem;
  color: #0077b6 !important;
}
.category-name:hover{
 color: #052044 !important; 
}


.list-menu > li > a:hover {
  font-weight: 700;
}


.logo-img{
  width: 3rem;}


  /* Form */
.form {
  max-width: 40rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}





/* 
.grid-container {
  
  
  background-color: green;
  display: flex;
  justify-content: center;
  
} */
/* main {
  height: 100%;
  background-color: red;
  margin: 0 20px;
} */



.bus-screen-details {
background-color: #0077b6;
width: 100%;
color: white !important;


}
.p {
font-size: 0.9rem;
}
.btn-back{
  background-color: transparent ;
  border: none;


  margin-top: -0.5rem;
  margin-left: -2rem;
}

.btn-back >p     {

 
  color: white;
  font-size: 3rem;
  transform: scale(1.5, 3);
  font-weight: 70; margin-left: -10;

}

.bus_seats {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 600px;
	justify-content: space-evenly; */
	margin: 1% ;
	/* background-color: #f3f3f3; */
	border-radius: 10px;
	color: #000000;
  border: 2px solid  #DEE2E6;
 
}

.bus_seats_book{
  border-radius: 10px;
	color: #000000;
  border: 2px solid  #DEE2E6;
  margin-top: 7% ;
}



.book_btn_bus_screen{
  width: 84%;
  margin: 2% auto;
  font-size: 1.rem;
  border-radius: 0.2rem;
  background-color: #0077b6;
  margin-top: 1rem;
}
.book_btn_bus_screen:hover{
  background-color: #005786;
}

/* 
fieldset {
  margin-top: 10rem; 
  
} */

.badge-dark{
  background-color: #0077b6;
  color: white;
  padding: 0.5rem;
  /* border-radius: 0.2rem; */
  font-size: 0.8rem;
  margin: 3% auto;
  margin-top: -100%;
}

